<%- include('../partials/header.ejs') %>
    <h1>Reporting</h1>
    <div>

    <form action="/addReport" method="POST">
        <div>
            <label for="time_of_day">time of day</label>
            <select name="time_of_day" id="time_of_day" onchange="change_time_of_day(this)">
                <option value="morning">Morning</option>
                <option value="evening">Evening</option>
            </select>
            
        </div>
        <div id="morning" style = "display: none;">
            <div>
                <label for="sleep_duration">Sleep Duration: </label><input type="number" step=".1" name="sleep_duration" id="sleep_duration">
           </div> 
    
           <div>
                <label for="sleep_quality">Sleep Quality: </label> 
                <label class="radio-inline">
                    <input type="radio" name="sleep_quality" value="1">1
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="sleep_quality" value="2"> 2
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="sleep_quality" value="3"> 3
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="sleep_quality" value="4"> 4
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="sleep_quality" value="5"> 5
                  </label>
                <!-- <input type="number" name="sleep_quality" id="sleep_quality"> -->
                <!-- <input type="radio" name="sleep_quality" id="sleep_quality">
                
               <select name="sleep_quality" id="sleep_quality">
                   <option value="1">1</option>
                   <option value="2">2</option>
                   <option value="3">3</option>
                   <option value="4">4</option>
                   <option value="5รง">5</option>
               </select> -->

            </div>
        </div>
         
        <div id="evening"  style = "display: none;">
            <div>
                <label for="exercise_duration">Exercise Duration: </label><input type="number" step=".1" name="exercise_duration" id="exercise_duration">
           </div> 
    
           <div>
                <label for="studying_duration">Study Duration: </label> <input type="number" name="studying_duration" id="studying_duration">
            </div>
    
            <div>
                <label for="food_quality"> Food Quality</label>
                 <!-- <input type="number" name="food_quality" id="food_quality"> -->
                <label class="radio-inline">
                    <input type="radio" name="food_quality" value="1">1
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="food_quality" value="2"> 2
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="food_quality" value="3"> 3
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="food_quality" value="4"> 4
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="food_quality" value="5"> 5
                  </label>
            </div>
             </div>
        </div>

        <div id="common" style="display: none;">
            <div>
                <label for="generic_mood">Generic Mood: </label> 
                <!-- <input type="number" name="generic_mood" id= "generic_mood"> -->
                <label class="radio-inline">
                    <input type="radio" name="generic_mood" value="1">1
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="generic_mood" value="2"> 2
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="generic_mood" value="3"> 3
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="generic_mood" value="4"> 4
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="generic_mood" value="5"> 5
                  </label>
            </div>
            
            <div>
                <label for="date">Date </label><input type="date" name="date" id="date"> <label for="date_now" value="<%= current_date %>">
            </div>
        </div>
       
        <input type="submit" value="Add Report!">
    </form>
</div>

    <script>
    
        function change_time_of_day(selectedOption) {
            const date = new Date();
            document.getElementById('date').valueAsDate = date;
            document.getElementById('date').setAttribute('max', new Date());

            document.getElementById('common').style.display = 'block';
            if (selectedOption.value === "morning") {
                document.getElementById("morning").style.display = 'block';
                document.getElementById("evening").style.display = 'none';

            } else {
                document.getElementById("evening").style.display = 'block';
                document.getElementById("morning").style.display = 'none';

            }
        }
    </script>
<%- include('../partials/footer.ejs') %>
